body{
    background-color:#f8eee7;
}
table{
    width:50%;
    margin-left:100px;
    border:1px solid black;
    border-collapse: collapse;
}
.product{
    color:#49274a;
    font-family: Arial, Helvetica, sans-serif;
}
td, th{
    border:1px solid rgb(212, 196, 196);
    border-collapse: collapse;
    padding:20px;
    font-family: Arial, Helvetica, sans-serif;
    color:#49274a;
    background-color: white;
    
    
}
th{
    background-color: #94618e;
    color:#49274a;
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    display:block;
    margin:20px;
}
#tablescroll {
    overflow:auto;  
    margin-top:20px;
  }
input[type=number]{
    width:70px;
    height:20px;
    margin:0;
  }
  input[type=number]{
    outline-color:rgb(184, 118, 172);
    
}
.continue{
    width:80px;
    height:40px;
    background-color: #94618e;
    border: none;
    color:#262029;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    outline:none;
    margin:10px;
    margin-left:600px;
}